.ENCABEZADO{
   
   
        display: block;
        margin: auto;
        width: 500;
        height: 200; 
}


.combates{

    width: 60%;
    height: 66%;
    display: block;
    margin: auto;
    margin-top: 1%;
}

.bootn{
	background-color: red !important;
    border-color: red !important;
	
}