.encabezado{
    display: block;
    margin: auto;
    width: 500;
    height: 200; 
}
.natvar{
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
   
 
   ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
       overflow: hidden;
       background-color: #333;
   }
   
   li {
       float: left;
   }
   
   li a {
       display: block;
       color: white;
       text-align: center;
       padding: 14px 16px;
       text-decoration: none;
   }
   
   li a:hover {
       background-color: #111;
   }
   
  
}
.parrafo{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: ghostwhite;
    background-color:rgb(252, 0, 0);
    opacity: 0,9;
    border-radius: 30px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 80px;
}
.ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;


}
.li{

    float: left;
}
.lia{
    display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
}
.liah{


    background-color: #111
}
.bootn{
	background-color: red !important;
    border-color: red !important;
	
}