body{
	background-image: url('fondo.jpg');
	background-position:center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #6999;
	
}
.encabezado{
    display: block;
    margin: auto;
    width: 500;
    height: 200; 
}

.parrafo{
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: ghostwhite;
    background-color:rgb(252, 0, 0);
    opacity: 0,9;
    border-radius: 30px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 80px;
}
}

.galeria {
	width: 90%;
	margin: auto;
	list-style: none;
	padding: 20px;
	box-sizing: border-box;
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.galeria li {
	margin: 20px;
}

.galeria img {
	width: 150px;
	height: 100px;
}

/*Estilos del modal*/

.modal {
	display: none;
}

.modal:target {
	
	display: block;
	position: fixed;
	background: rgba(0,0,0,0.8);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.modal h3 {
	color: #fff;
	font-size: 30px;
	text-align: center;
	margin: 15px 0;
}

.imagen {
	width: 30%;
	height: 60%;
	
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.imagen a {
	color: #fff;
	font-size: 40px;
	text-decoration: none;
	margin: 0 10px;
}

.imagen a:nth-child(2) {
	margin: 0;
	height: 100%;
	flex-shrink: 2;
}

.imagen img {
	width: 500px;
	height: 100%;
	max-width: 100%;
	border: 7px solid #fff;
	box-sizing: border-box;
}

.cerrar {
	display: block;
	background: #fff;
	width: 25px;
	height: 25px;
	margin: 15px auto;
	text-align: center;
	text-decoration: none;
	font-size: 25px;
	color: #000;
	padding: 5px;
	border-radius: 50%;
	line-height: 25px;
}
.imag{
	position: relative;
	margin: 30px;

}
.bootn{
	background-color: red !important;
    border-color: red !important;
	
}